# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v3.0. To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" and USB communication/USART.

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# See docs/Config_Reference.md for a description of parameters.

[include klicky-probe.cfg]
[include KAMP_Settings.cfg]
[include mainsail.cfg]
[include K-ShakeTune/*.cfg]
[include macros.cfg]

[gcode_arcs]
resolution: 1.0
#   An arc will be split into segments. Each segment's length will
#   equal the resolution in mm set above. Lower values will produce a
#   finer arc, but also more work for your machine. Arcs smaller than
#   the configured value will become straight lines. The default is
#   1mm.

[exclude_object]

[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 64
rotation_distance: 20
endstop_pin: tmc2209_stepper_x:virtual_endstop
#endstop_pin: ^PC0
position_endstop: -1
position_min: -1
position_max: 120
homing_speed: 20
homing_retract_dist: 0

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 1
#hold_current: 0.7
stealthchop_threshold: 0
diag_pin: ^PC0    # Set to MCU pin connected to TMC DIAG pin
driver_SGTHRS: 103 # 255 is most sensitive value, 0 is least sensitive
interpolate: false

[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps:64
rotation_distance: 20
#endstop_pin: ^PC1
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: 139
position_min:-5
position_max: 139
homing_speed: 20
homing_retract_dist: 0

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 1
#hold_current: 0.7
stealthchop_threshold: 0
diag_pin: PC1    # Set to MCU pin connected to TMC DIAG pin
driver_SGTHRS: 108 # 255 is most sensitive value, 0 is least sensitive
interpolate: false

[stepper_z]
step_pin: PB0
dir_pin: !PC5
enable_pin: !PB1
microsteps: 64
rotation_distance: 8
#endstop_pin: PC14
#position_endstop: 11.02
endstop_pin: probe:z_virtual_endstop
position_max: 125
position_min: -2
homing_speed: 20

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: .7
#hold_current: 0.500
stealthchop_threshold: 0
#diag_pin: ^PC2    # Set to MCU pin connected to TMC DIAG pin
#driver_SGTHRS:  45 # 255 is most sensitive value, 0 is least sensitive
interpolate: false

[extruder]
step_pin: PB3
dir_pin: PB4
enable_pin: !PD1
microsteps: 64
rotation_distance:   3.9403938
nozzle_diameter: 0.4
filament_diameter: 1.750
heater_pin: PC8
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PA0
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: 0
max_temp: 300
max_extrude_only_distance: 500
max_extrude_cross_section: 5
#max_extrude_only_accel: 4500
pressure_advance = .23

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 1
#hold_current: 0.500
stealthchop_threshold: 0
interpolate: false
    
[bed_screws]
screw1: 5, 115
screw2: 115, 115
screw3: 60, 5

[heater_bed]
heater_pin: PC9
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC4
#control: pid
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 130

[heater_fan Heat_Break_fan]
pin: PC7
max_power: 1.0
heater_temp: 50.0
shutdown_speed: 1.0

[fan]
# FAN0
pin: PC6
max_power: 1.0
kick_start_time: 0.5                                                # Depending on your fan, you may need to increase this value if your fan will not start
off_below: 0.13
cycle_time: 0.010

[controller_fan controller_fan]
# FAN2
  pin: PB15
max_power: .6
kick_start_time: 0.5                                                # Depending on your fan, you may need to increase this value if your fan will not start
off_below: 0.13
cycle_time: 0.1

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_3B00500011504B5735313920-if00

#serial: /dev/ttyS0
#restart_method: command

[mcu host]
serial: /tmp/klipper_host_mcu

[adxl345]
cs_pin: host:gpio67
spi_bus: spidev0.0
axes_map:  x,-y,-z

[resonance_tester]
accel_chip: adxl345
#accel_per_hz: 100
probe_points: 60, 60, 110  # an example

[input_shaper]
shaper_freq_x: 106.2
shaper_type_x: mzv
shaper_freq_y: 119
shaper_type_y: mzv
damping_ratio_x: .083 # damping ratio for the X axis
damping_ratio_y: .087 # damping ratio for the Y axis

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_fan btt_pi]
pin: host:gpio211
kick_start_time: 0.9
#shutdown_speed: 0
off_below: 0.3
max_power: 1.0
#fan_speed: 0.6
sensor_type: temperature_host
control: pid
min_temp: 0
max_temp: 85
#max_delta: 5.0
pid_kp: 1.0
pid_ki: 0.5
pid_kd: 2.0
min_speed: 0.0
max_speed: .6
target_temp: 38

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 20000
max_z_velocity: 20
max_z_accel: 100
square_corner_velocity: 30




###########################################################
                           #Pins
[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>
    
#aliases:

# EXP1 header

#EXP1_1=PB5, EXP1_3=PA9, EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,

#EXP1_2=PA15, EXP1_4=RST, EXP1_6=PB4, EXP1_8=PC0, EXP1_10=<5V>

################################################################

# BigTreeTech mini12864 v1mode

################################################################



######################################################################
#  BigTreeTech TFT TouchScreen emulated 12864 mode
######################################################################

#[display]
#lcd_type: emulated_st7920
#spi_software_miso_pin: PD8 # status led, Virtual MISO
#spi_software_mosi_pin: PD6
#spi_software_sclk_pin: PB9
#en_pin: PB8
#encoder_pins: ^PA10, ^PA9
#click_pin: ^!PA15

#[output_pin beeper]
#pin: PB5

