[include mainsail.cfg]

[include K-ShakeTune/*.cfg]

[include macros.cfg]

# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v3.0. To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" and USB communication/USART.

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# See docs/Config_Reference.md for a description of parameters.


[gcode_arcs]
resolution: 1.0
#   An arc will be split into segments. Each segment's length will
#   equal the resolution in mm set above. Lower values will produce a
#   finer arc, but also more work for your machine. Arcs smaller than
#   the configured value will become straight lines. The default is
#   1mm.

[exclude_object]

[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 8
rotation_distance: 20
endstop_pin: tmc2209_stepper_x:virtual_endstop
#endstop_pin: ^PC0
position_endstop: -1
position_min: -1
position_max: 120
homing_speed: 20
homing_retract_dist: 0

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 1
#hold_current: 0.7
stealthchop_threshold: 0
diag_pin: ^PC0    # Set to MCU pin connected to TMC DIAG pin
driver_SGTHRS: 105 # 255 is most sensitive value, 0 is least sensitive
interpolate: true

[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps:8
rotation_distance: 20
#endstop_pin: ^PC1
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: 139
position_min:0
position_max: 139
homing_speed: 20
homing_retract_dist: 0

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 1
#hold_current: 0.7
stealthchop_threshold: 0
diag_pin: PC1    # Set to MCU pin connected to TMC DIAG pin
driver_SGTHRS: 105 # 255 is most sensitive value, 0 is least sensitive
interpolate: true

[stepper_z]
step_pin: PB0
dir_pin: !PC5
enable_pin: !PB1
microsteps: 32
rotation_distance: 8
#endstop_pin: ^PC2
#position_endstop: 123
endstop_pin: tmc2209_stepper_z:virtual_endstop
position_max: 123.158
position_min: -2
homing_speed: 32.0
homing_retract_dist: 0

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: .7
#hold_current: 0.500
stealthchop_threshold: 0
diag_pin: ^PC2    # Set to MCU pin connected to TMC DIAG pin
driver_SGTHRS:  65 # 255 is most sensitive value, 0 is least sensitive
interpolate: true

[extruder]
step_pin: PB3
dir_pin: !PB4
enable_pin: !PD1
microsteps: 16
rotation_distance:  3.981
nozzle_diameter: 0.4
filament_diameter: 1.750
heater_pin: PC8
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PA0
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: 0
max_temp: 300
max_extrude_only_distance: 500
max_extrude_cross_section: 4
pressure_advance = .35

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.80
#hold_current: 0.500
stealthchop_threshold: 0
interpolate: true

[homing_override]
gcode:
    G90
    # Home Z
    G28.6245197 Z0
    G1 Z110 F1200
    # Home Y
    G28.6245197Y0
    G1 Y110 F1200
    # Home X
    G4 P2000
    G28.6245197 X0
    G1 X10 F1200

[bed_screws]
screw1: 5, 115
screw2: 115, 115
screw3: 60, 5

[heater_bed]
heater_pin: PC9
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC4
#control: pid
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 130

[heater_fan Heat_Break_fan]
pin: PC7
max_power: 1.0
heater_temp: 50.0
shutdown_speed: 1.0

[fan]
# FAN0
pin: PC6
max_power: 1.0
kick_start_time: 0.5                                                # Depending on your fan, you may need to increase this value if your fan will not start
off_below: 0.13
cycle_time: 0.010

[controller_fan controller_fan]
# FAN2
  pin: PB15
max_power: .6
kick_start_time: 0.5                                                # Depending on your fan, you may need to increase this value if your fan will not start
off_below: 0.13
cycle_time: 0.1

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_3B00500011504B5735313920-if00

#serial: /dev/ttyS0
#restart_method: command

[mcu host]
serial: /tmp/klipper_host_mcu

[adxl345]
cs_pin: host:gpio67
spi_bus: spidev0.0
axes_map:  x,-y,-z

[resonance_tester]
accel_chip: adxl345
#accel_per_hz: 100
probe_points: 60, 60, 110  # an example

[input_shaper]
shaper_freq_x: 138.8
shaper_type_x: ei
shaper_freq_y: 104.2
shaper_type_y: mzv
damping_ratio_x: .05 # damping ratio for the X axis
damping_ratio_y: .049 # damping ratio for the Y axis
[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_fan btt_pi]
pin: host:gpio211
kick_start_time: 0.9
#shutdown_speed: 0
off_below: 0.3
max_power: 1.0
#fan_speed: 0.6
sensor_type: temperature_host
control: pid
min_temp: 0
max_temp: 85
#max_delta: 5.0
pid_kp: 1.0
pid_ki: 0.5
pid_kd: 2.0
min_speed: 0.0
max_speed: .6
target_temp: 38

[printer]
kinematics: corexy
max_velocity: 400
max_accel: 30000
max_z_velocity: 20
max_z_accel: 100
square_corner_velocity: 5.0

#[firmware_retraction]
#retract_length: 1
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
#retract_speed: 40
#   The speed of retraction, in mm/s. The default is 20 mm/s.
#unretract_extra_length: 0
#   The length (in mm) of *additional* filament to add when
#   unretracting.
#unretract_speed: 40
#   The speed of unretraction, in mm/s. The default is 10 mm/s.

##########################################################################
                      #Autotune
[autotune_tmc stepper_x]
motor: 17ME15-1504S
sg4_thrs: 108
tuning_goal: performance

[autotune_tmc stepper_y]
motor: 17ME15-1504S
sg4_thrs: 107
tuning_goal: performance

[autotune_tmc stepper_z]
motor: AW030
sg4_thrs: 50
tuning_goal: performance

[autotune_tmc extruder]
motor: 17HM08-1204S
tuning_goal: performance

[motor_constants 17ME15-1504S]
# Coil resistance, Ohms
resistance: 2.0
# Coil inductance, Henries
inductance: 0.0052
# Holding torque, Nm
holding_torque: .3
# Nominal rated current, Amps
max_current: 1.5
# Steps per revolution (1.8deg motors use 200, 0.9deg motors use 400)
steps_per_revolution: 400


[motor_constants AW030]
# Coil resistance, Ohms
resistance: 2.2
# Coil inductance, Henries
inductance: 0.0038
# Holding torque, Nm
holding_torque: 0.40
# Nominal rated current, Amps
max_current: 1.5
# Steps per revolution (1.8deg motors use 200, 0.9deg motors use 400)
steps_per_revolution: 200

[motor_constants 17HM08-1204S]
# Coil resistance, Ohms
resistance: 3.00
# Coil inductance, Henries
inductance: .0022
# Holding torque, Nm
holding_torque: .11
# Nominal rated current, Amps
max_current: 1.2
# Steps per revolution (1.8deg motors use 200, 0.9deg motors use 400)
steps_per_revolution: 400

###########################################################
                           #Pins
[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>
    
#aliases:

# EXP1 header

#EXP1_1=PB5, EXP1_3=PA9, EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,

#EXP1_2=PA15, EXP1_4=RST, EXP1_6=PB4, EXP1_8=PC0, EXP1_10=<5V>

################################################################

# BigTreeTech mini12864 v1mode

################################################################



######################################################################
#  BigTreeTech TFT TouchScreen emulated 12864 mode
######################################################################

#[display]
#lcd_type: emulated_st7920
#spi_software_miso_pin: PD8 # status led, Virtual MISO
#spi_software_mosi_pin: PD6
#spi_software_sclk_pin: PB9
#en_pin: PB8
#encoder_pins: ^PA10, ^PA9
#click_pin: ^!PA15

#[output_pin beeper]
#pin: PB5

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 27.939
#*# pid_ki = 3.514
#*# pid_kd = 55.529
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 56.356
#*# pid_ki = 1.824
#*# pid_kd = 435.353
#*#
#*# [stepper_z]
#*# position_endstop = 123.158
#*#
#*# [input_shaper]
